*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --brownTextColor: #4B3733;
    --backgroundcolor: #B2D0C7;
    --accentColor: rgb(175, 138, 127); 
}

body {
    background-color: var(--backgroundcolor);
    min-height: 100vh;
    font-family: 'Merriweather', serif;
}

.header {
    /* border: 5px double black; */
    position:fixed;
    top:0;
    text-align: center;
    width: 100vw;
    height: 22vh;
    background: radial-gradient(circle, rgba(222,220,203,1) 0%, rgba(182,201,192,1) 100%);
    box-shadow: 0px 5px 10px -2px #888888; 
    border-bottom: 1px solid darkgray;
}
#kakochbak-text-logo{
    color: var(--brownTextColor);
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 1px 1px 0px #C09880, 3px 5px 5px #8C827B;

}

.wielcome-svg {
    width: 20%;
    
}
.wielcome_div {
    position: relative;
    padding-top: .5em;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 40%;
        height: 10%;
        border-top: 5px double var(--accentColor);
    }
    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 40%;
        height: 10%;
        border-top: 5px double var(--accentColor);
    }

}


.main {
    
}

#side {    
    background-color: lightpink;
    min-height: 30vh;
    border: 2px solid black;
}

#recept-info{
    
    background-color: lightblue;
    min-height: 50vh;
}