*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --brownTextColor: #4B3733;
    --backgroundcolor: #B2D0C7;
    --headerbg-golor:
}

body {
    background-color: var(--backgroundcolor);
    min-height: 100vh;
    font-family: 'Merriweather', serif;
}

.header {
    /* border: 5px double black; */
    text-align: center;
    background: radial-gradient(circle, rgba(222, 220, 203, 1) 0%, rgba(182, 201, 192, 1) 100%);
}

#kakochbak-text-logo {
    color: var(--brownTextColor);
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 1px 1px 0px #C09880, 3px 5px 5px #8C827B;

}

.wielcome-svg {
    width: 20%;

}

.wielcome_div {
    position: relative;
    padding-top: .5em;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        width: 40%;
        height: 10%;
        border-top: 5px double black;
    }

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 40%;
        height: 10%;
        border-top: 5px double black;
    }

}


.main {}

#side {
    margin-top: 22vh;
    padding: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#side h2 {
    display: inline-block;
    font-size: 1rem;
    background-color: #8C827B;
    border-radius: 999px;
    text-align: center;
    padding: 0.5rem 1rem;
}

#recept-info {

    background-color: lightblue;
    min-height: 50vh;
}